---
---

<html>
  <head>
    <title>Sinistra Italiana Genova</title>
  </head>
  <body>
    <h1>Per una Genova giusta, verde, solidale. Uniti per il cambiamento.</h1>
    <a href="https://aderisci.sinistraitaliana.si/">Aderisci</a>
    <a href="https://3350a044.sibforms.com/serve/MUIFAI4ZSahwShbY75oEMC3WUOPXMdL54q2n1utsd46sfgdlWVEdq5fcZ3yimSTFDc1--7_Q_jIqwjb-Qz23YYljq4UBm4U2GQSsDxkYPO_655O2INfoBcCDZfdqlO87ucBAZIpt9QEsNFKRLrBBkAfUytmkMbH5-bza8x_W67oYtFZ9jPUVZLmdjVqvj4P_cYIjnXFr5NmEcrdk">Newsletter</a>
  </body>
</html>
